/*
Farver 
Hvid: #FFF
Primary: #033b56
Highlight 1 (blå): #0d6996
Highlight 2 (orange): #ec830a
Baggrundsfarve: #e6e6e6

Fonts
Overskrifter: Change Semibold
Brødtekst: Roboto
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6e6e6;
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
    color: #FFF;
}
ul{
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
    font-family: "Changa", sans-serif;
    text-transform: uppercase;
    color:#033b56;
}

h1 {
    text-align: center;
}

.overskrifter {
    font-family: "Changa", sans-serif;
    text-transform: uppercase;
}

p{
    font-family: "Roboto", sans-serif;
    color:#282828;
}

h1 {
    font-family: "Changa"
}
.shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


/*
 NAVIGATIONSBAR...........................
 */
#menuToggle {
    background-color: #033b56;
    display: block;
    position: relative;
    width:100%;
    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

/*
 U-DAYS LOGO...........................
 */
#menuToggle div a img {
    left: 5%;
    position: relative;
    top: 5%;
    width:100%;
    margin:5% 0 5% 5%;
}
#menuToggle div a{
    width:40%;
}
/*MENU CONTAINER*/

.menucontainer{
    display:flex;
    justify-content: space-between;
}
/*
 BURGERMENU...........................
 */
#menuToggle .fa-bars {
    position: relative;
    right:5%;
    margin-top:5%;

    color: #FFF;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;   
}
 

/* 
 LAVER BURGERBAR TIL ET KRYDS
 */
#menuToggle .fa-bars:checked{
    display:none;  
}


/*
 POSITION PÅ BURGERMENU...........................
 */
#menu {
    position: absolute;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 100%;
    background: #033b56;
    list-style-type: none;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}
.menuinactive{
    transform: translate(-100%, 0);
}
.menuactive{
    transform: translate(0, 0);   
}
#menu li {
    font-family: "Changa", sans-serif;
    font-size:1.3em;
    margin-left:6%;
    padding-left:5%;
    text-transform: uppercase;
}
#menu li ul li{
    font-family: "Changa", sans-serif;
    font-size:0.8em;
    margin-left: 6%;
    text-transform: uppercase;
}
#menu button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color:#FFF;
    text-transform: uppercase;
    font-size:1em;
}
/*
 ANIMATION PÅ SLIDEBAR FRA VENSTRE MOD HØJRE...........................
 */
.menucontainer .fa-bars:checked ~ #menu {
    transform: none;
}
.currentpage{
    border-left: solid 10px #ec830a;

}
.sub{
    display:none;
}

/* Video */

video{
    width:100%;
    object-fit: cover;
}
.videocontainer{
    position:relative;
}
.videocontainer h1{
    position:absolute;
    top:25%;
    left:0;
    right:0;
    color:#fff;
    font-size: 1.7em;
    text-align: center;
}


/* call to action */

.intro{
    display:flex;
}
.intro div{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
}
.intro div h2{
    font-size:1.3em;
    text-transform: uppercase;
    color:#033b56;
    margin-left: 10%;
    margin-top: 5%;
}
.intro div p{
    font-size:0.8em;
    width:90%;
    margin-left:10%;
}
.intro div a{
    background-color: #033b56;
    border-left:5px solid #ec830a;
    line-height: 100%;
    font-size:1.2em;
    padding: 3% 0 3% 0;
    text-align:center;
    font-family: "Changa", sans-serif;
    text-transform: uppercase;
    max-width:80%;
    margin: 5% 0 10% 10%;

}
.intro img{
    margin-right:2%;
    width:40%;
    height:40%;
}

/* Knapper */
.callaction{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:100%;

}
.callaction li{
    width:40%;
    margin-bottom: 5%;
}
.callaction li img{
    width:100%;
}
.callaction li a{
    background-color: #033b56;
    width:100%;
    line-height: 0;
    display: block;
}
.callaction li a span{
    line-height:1.85;
    padding-left:5%;
    border-left:5px solid #ec830a;
}

/* 'SÅDAN FUNGERER DET' DELEN */

.process{
    display:flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding:5% 0;
    background-color:#FFF;
}
.process div h2{
    text-align: center;
    margin-right:10%;
    margin-bottom:10%;
    font-size:0.9em;
    line-height: 1.3;
}
.process div p{
    font-size:1em;
    margin-left:15%;
}
.process div:nth-child(1){
    position:relative;
    width:100%;
}
.pil{
    position:absolute;
    bottom:-120%;
    left:10%;
    width:80%;
}
.flexikoner{
    display:flex;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.flexikoner div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 6%;
    margin-left:2%;
}
.ikoner{
    stroke: #000;
    flex-direction: column;
    width:18%;
    height:auto;
}

/* 'Vi gar givet en hjælpende hånd til' delen */

.firmaercontainer h2{
    font-size:1.1em;
    text-align: center;
}
.firmaer{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items:center;
    margin-bottom: 10%;
}
.firmaer div{
    width:40%;
}
.firmaer div img{
    width:100%;
    height:100%;
}


/* UNDERSIDER - Artikler */

.undersideintrop {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

/* LISTE UNDERSIDER */

.liste {
    margin: 20px 10px;
    padding: 5px 15px;
    background-color: #FFF;
}

.liste ul li {
    margin-bottom: 10px;
}

/* UNDERSIDER - REFERENCER */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2.5% 0;
    
  padding: 0 5%;
}

.hover-shadow {
    width: 100%;
    padding: 1.5% 2.5%;
    
}

.row:after {
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
    width: 50%;

}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top:5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 850px;
  margin-top: 15%;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2% 10%;
 
}
#caption {
    color: white;
}


img.demo {
  display: none;
}

.hover-shadow:hover {
  opacity: 0.8;
}

/*FOOTER*/

footer{
    background-color: #033b56;
    color:#FFF;
    overflow:hidden;
}
.footer-left{
    width:40%;
    float:left;
    flex-direction: column;
    margin: 3% 0 10% 5%;
}
.footer-left ul li a{
    font-size:0.8em;
}
.footer-left ul li, .footer-right p{
    line-height:1.3;
}
.footer-left img{
    width:70%;
}
.footer-right{
    width:40%;
    float:right;
    margin-right:5%;
    margin-top:16%;
    margin-bottom: 10%;
}
.footer-right p{
    color: #FFF;
    font-size:0.8em;
}

footer h3 {
    color: #FFF;
}

/* MEDIA QUERIES */

/* tablet landscape og frem */

@media all and (min-width: 1023px) {

/*REFERENCER*/

.column {
    width: 25%;
}

.modal-content {
  width: 60vw; 
    margin-top: 0;
}
.undersideintrop{
    
}
}